.dashboard {
  background: white;
  margin: 2rem;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.flashcard {
  width: 250px;
  height: 150px;
  margin: 1rem auto;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flashcard.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%; height: 100%;
  backface-visibility: hidden;
  display: flex; align-items: center; justify-content: center;
  border: 1px solid rgba(25, 0, 255, 0.377);
  background-color: rgba(0, 0, 255, 0.233);
  border-radius: 8px;
}

.card-back {
  background: rgb(255, 0, 179);
  transform: rotateY(180deg);
}

.progress-bar {
  width: 100%;
  height: 20px;
  background: #eee;
  border-radius: 10px;
  margin-top: 1rem;
}

.progress-fill {
  height: 100%;
  background: #0a2a66;
  border-radius: 10px;
  transition: width 0.5s ease-in-out;
}